<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" 
xmlns="http://java.sun.com/xml/ns/j2ee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	

	
	<servlet>
	   <servlet-name>search</servlet-name>
	   <servlet-class>com.nt.servlet.EmployeeSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	   <servlet-name>search</servlet-name>
	   <url-pattern>/empdburl</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>input.html</welcome-file>
	</welcome-file-list> 
	
</web-app>
